{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">All Songs</h2>

<div class="row">
    {% for s in song %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">{{ s.title }}</h5>

                <p class="card-text">
                    <strong>Duration:</strong> {{ s.duration }} <br>

                    <strong>Written By:</strong><br>
                    <span class="text-muted">{{ s.written_by }}</span>
                </p>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
